.popup-header {
  background: #ff0055;
  color: #fff;
  text-align: center;
  padding: 15px 50px;
  margin: -20px -20px 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.user-faces {
  margin: 20px 0 40px 0;
  text-align: center;
}
