.whatsnext {
  margin-top: 10px;
  padding: 10px;
  position: relative;
  .number-text {
    position: absolute;
    left: 10px;
    color: #007bff;
  }
  .whatsnext-btn-submit {
    float: right;
    background-color: #4885ed !important;
    color: #fff !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    padding: 8px 50px !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    width: 100%;
  }
}

.dot{
  color: #4885ed;
}
.text_div{
  font-size: 18px;
  text-align: left;
}

