.results-main {
  margin-bottom: 40px;
  min-height: 100px;
  #btnAlertBar {
    #btnAlertBar:hover {
      color: #4885ed !important;
    }
  }
  .PropertyList__item--wrapper {
    flex-basis: calc(33% - 20px);
    margin: 10px;
    min-width: calc(33% - 20px);
    @media (max-width: 1133px) {
      flex-basis: calc(33% - 20px);
    }
    @media (max-width: 860px) {
      flex-basis: calc(50% - 20px);
      min-width: calc(50% - 20px);
    }
    @media (max-width: 575px) {
      flex-basis: 100%;
    }
  }
  .PropertyList__item--wrapper__zeroDeposit {
    background: #000000 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px;
    border-radius: 4px;
    .PropertyList__item--wrapper :hover {
      box-shadow: rgba(36, 19, 19, 0.16) 0px 3px 3px;
    }
    button {
      background: #fff;
      color: black;
    }
  }
}
.PropertyList__nearby--wrapper {
  margin-bottom: 20px;
  h4 {
    @media (max-width: 767px) {
      font-size: 17px;
    }
  }
}

.similar-listing {
  font-weight: bold;
  padding: 10px 10px 10px 0px;
  @media (max-width: 767px) {
    text-align: center;
  }
  @media (max-width: 425px) {
    text-align: justify;
  }
}

.stickyHolder {
  z-index: 9997;
  transform: none !important;
}
.nearby_carousel {
  display: none !important;
  @media only screen and (max-width: 480px) {
    display: block !important;
  }
}
.nearby_desktop {
  @media only screen and (max-width: 480px) {
    display: none !important;
  }
}
.showAll_button {
  float: right;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 30px;
  @media only screen and (max-width: 691px) {
    float: left;
    margin-top: 0px;
  }
}
