.Propertylist__item__container {
  a {
    cursor: pointer;
  }
}
.Propertylist__item__card {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px;
  &:hover {
    box-shadow: rgba(36, 19, 19, 0.16) 0px 3px 3px;
  }
  ul {
    padding: 0;
  }
}
.Propertylist {
  &__item {
    &__cr-wrap {
      display: flex;
      align-items: center;
    }
  }
}
.share--actionIcon--icon {
  cursor: pointer;
}
.Propertylist__item__card__bidding__finished {
  background-color: rgb(219, 211, 211);
  opacity: 0.7;
}
.Propertylist__item__fav {
  color: red;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.Propertylist__item__non_fav {
  color: #000;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.Propertylist__item__cover {
  position: relative;
  .carosoul-div,
  .carosoul-div > div,
  .carousel-slider {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .carousel-slider {
    height: 230px;
    .slider-wrapper {
      height: 100%;
      ul {
        height: 100%;
      }
    }
  }
  .carousel-slider img {
    height: 230px;
  }
  .control-arrow {
    display: none;
  }
  &:hover .control-arrow {
    display: block;
  }
  .image--caption {
    position: absolute;
    top: 10px;
    right: 8px;
    display: flex;
    flex-direction: column;
  }
  .distance--label {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    p {
      background: #fff;
      padding: 2px 10px;
      color: #000000;
    }
  }
}
.Propertylist__item--cover--img {
  height: 38vh !important;

  @media (max-width: 768px) {
    height: 45vh !important;
  }
}
.Propertylist__item--map--cover--img {
  height: 100%;
}
.Propertylist__item__body {
  padding: 20px 10px 10px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Propertylist__map__item__body {
  padding: 10px 10px 10px;
  position: relative;
}
.Propertylist__item__body__bidding_finished_badge {
  position: absolute;
  left: 0;
  top: -2.5rem;

  background-color: #ff0055;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: #fff;
    padding: 0;
    margin: 0;
  }
}
.Propertylist__item__price {
  color: #000;
  font-size: 22px;
  margin: 0;
}

.Propertylist__item__price--container,
.Propertylist__item__price-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Propertylist__item__price-bar {
  align-items: center;
}
.Propertylist__item__details--whole-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 33px;
}
.Propertylist__item__chat-btn {
  font-size: 14px;
  padding: 9px 15px;
  color: #2c76ec;
  border: 1px solid #2c76ec;
  border-radius: 24px;
}
.Propertylist__item__price--newListing {
  display: inline-block;
  font-size: 14px;
  color: #000;
  border-radius: 5px;
  padding: 1.5px 10px;
  background-color: #ffe100;
  white-space: nowrap;
  margin: 2px 0 0 0;
}
.Propertylist__item__price--newListing_category {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
  background-color: #ff0055;
  margin-top: 4px;
  white-space: nowrap;
  margin-left: 5px;
}
.Propertylist__item__details {
  color: #000;
  margin-top: 6px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Propertylist__item__details--whole {
  font-size: 14px;
}
.Propertylist__item__details--name {
  font-size: 18px;
}
.Propertylist__item__details--specs {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Propertylist__item__details--specs--item {
  flex: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:nth-child(even) {
    flex: calc(100% - 55%);
  }
  span {
    margin-left: 0.2rem;
    color: #000;
    font-size: 15px;
  }
}
.Propertylist__item__details--specs--item--each {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action_icon_wrap{
  svg{
    margin-left: 10px;
    color: #606060;
  }
}
.Propertylist__item__details--myListing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

  .mylisting--link--btn {
    font-size: 14px;
    padding: 0.38rem 1.7rem;
    width: 46%;
    @media screen and (max-width: 1100px) and (min-width: 768px) {
      font-size: 11px;
      padding: 0.26rem 0.1rem;
    }
    @media screen and (max-width: 390px) {
      font-size: 11px;
      padding: 0.30rem 0.1rem;
    }
  }
  .mylisting--link--outlined {
    background-color: #EFEFEF !important;
    color: #000 !important;
    border-color: transparent !important;
    transition: all 0.2s;
    &:hover {
      color: #fff !important;
      background-color: #4885ed !important;
    }
  }
  .action_btn_wrap{
    display: flex;
    justify-content: space-around;
    a:last-child{
      color: #fff !important;
      background-color: #4885ed !important;
      &:hover {
        color: #000 !important;
        background-color: #EFEFEF !important;
      }
      }
  }
}
.flex_direction_clumn{
  flex-direction: column;
  .mylisting--link--btn{
    width: 100%;
  }
}
.width-full{
  width: 100% !important;
}
.flex_direction_unset{
  flex-direction: unset;
  justify-content: space-between;
}
.Propertylist__item--moreInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;

  span {
    color: #000;
  }

  .show {
    z-index: 8000 !important;
  }
}

.Propertylist__item--moreInfo--icon {
  color: #a2a2a2;
  margin-right: 10px;
}
.Propertylist__item--moreInfo--icon--icon {
  font-size: 1rem;
  cursor: pointer;
  span {
    font-size: 0.7rem;
  }
}
.Propertylist__item--moreInfo--dropdown {
  background-color: #fff;
  border: 1px solid #eee;
  width: 8rem;
  box-shadow: 0 6px 6px rgb(0 0 0 / 16%);
  border-radius: 5px;
  position: absolute;
  right: 0;
  z-index: 9;
  li {
    padding: 0.5rem 0.7rem;
    &:not(:last-child) {
      border-bottom: 1px solid #b3aca7;
    }
    a {
      color: #404040;
      cursor: pointer;
      &:hover {
        color: #2c76ec !important;
      }
    }
  }
}
.toolTipWrapper {
  position: relative;
  z-index: 3;
  @media screen and (min-width: 1025px) {
    &:hover {
      .propetyListItemToolTip {
        display: block;
      }
      z-index: 4;
    }
  }
}

.propetyListItemToolTip {
  position: absolute;
  width: 300px;
  opacity: 1;
  background: #424242;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  top: 105%;
  display: none;
  padding: 20px;
  .propetyListItemToolTipContent {
    font-size: 0.9375rem;
    line-height: 1.5;
    color: #fff;
    &__title {
      font-weight: 700;
    }
    &__content {
      margin-top: 0.2rem;
    }
    &::after {
      content: '';
      position: absolute;
      border: 9px solid #424242;
      border-color: transparent transparent #424242 transparent;
      bottom: 100%;
    }
  }
}
